.photoAlbum {
  padding: 20px 0;

  .photoAlbumHeader {

  }

  .reloadButton {

  }

  .photoList {
    margin: 20px 0;

    .photo{

      .imageContainer {
        padding: 5px;
        height: 270px;
        line-height: 260px;
      }

      .likeButton {

      }

      .removeButton {

      }
    }
  }

}
